.container {
  position: relative;
}
.container-img {
  position: absolute;
  top: 0px;
  right: 0px;
}

.page-copy__promo-inner {
  overflow: hidden;
  position: relative;
  background: rgb(123 208 248);
  margin: 0 2rem;
}
.copy-top {
  min-height: 70vh;
  margin-top: 12rem;
}

.copy-banner-heading {
  text-align: left;
  margin-left: 10%;
  margin-top: 85px;
  margin-bottom: 2.5rem;
  font-weight: 800;
  font-size: 6rem;
  color: black;
}
.copy-banner-sub-heading {
  position: absolute;
  bottom: -5%;
  right: 5%;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  line-height: 1.6rem;
}

/* Section one */
.copy-section {
  margin-top: 10%;
  background-color: #ececec;
  padding: 0 2rem;
  padding-top: 6rem;
  margin-right: 0;
  min-height: 85vh;
}
.benefit-section > .copy-section {
  margin: 0;
  padding: 0;
}
.benefit-section {
  background-color: #ececec;
  margin-top: 10%;
  padding-top: 10%;
}
.copy-section-heading {
  font-weight: 800;
  font-size: 3rem;
  color: black;
}
.copy-section-arrow {
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
  width: 37px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg width='37' height='17' viewBox='0 0 37 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='-4.37114e-08' y1='8.5' x2='36' y2='8.5' stroke='black'/%3E%3Cpath d='M29 1L36 8.5L29 16' stroke='black'/%3E%3C/svg%3E%0A");
}

.copy-section-one-desc {
  width: 540px;
  font-size: 20px;
  letter-spacing: 0.6px;
}
.section-one-img {
  width: 40%;
  position: absolute;
  top: -20%;
  z-index: 99;
  right: 5%;
}
.section-one-left {
  padding-left: 10%;
  padding-top: 5%;
}
.section-one-left > .desc {
  margin-left: 13%;
  margin-top: 4%;
}
.even-section {
  padding: 0 2rem;
  padding-top: 6rem;
  margin-right: 0;
  height: 70vh;
}
@media (max-width: 800px) {
  .mobile-hide {
    display: none;
  }
  .section-one-left,
  .section-one-left > .desc {
    margin: 0;
    padding: 0;
  }
}
@media (1000px < width < 1110px) {
  .section-one-img {
    top: -20%;
  }
}
@media (600px < width < 1000px) {
  .section-one-img {
    top: -20%;
  }
}
@media (max-width: 600px) {
  .section-one-img {
    top: -10%;
  }
}
/* End section one */
@media (650px < width < 780px) {
  .copy-banner-sub-heading {
    width: 85% !important;
  }
  .copy-banner-heading {
    font-size: 75px !important;
  }
}
@media (max-width: 650px) {
  .copy-banner-heading {
    font-size: 45px !important;
  }
  .copy-banner-sub-heading {
    bottom: -20vh;
    right: 23%;
    font-size: 20px;
  }
  .page-copy__promo {
    margin: 0 !important;
  }
}

.list-index {
  margin-right: 32px;
  width: 106px;
  height: 64px;
  max-width: 64px;
  min-width: 64px;
  background: rgb(123 208 248);
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefit-section {
  margin-top: 10%;
}
.benefit-section > .copy-section {
  width: 75%;
  margin: auto;
}
.benefit-section li {
  text-decoration: none;
  list-style: none;
  display: flex;
  margin: 10%;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: left;
  font-weight: 600px;
  min-width: 400px;
}

.benefit-section > .copy-section-heading {
  margin-left: 15%;
}

/* Fee section */
.fee-section {
  width: 75%;
  margin: auto;
  background-color: black;
  color: white;
}
.fee-section > ul {
  list-style: none;
  padding: 7rem;
  text-align: left;
}
.fee-section ul li {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
  padding: 3rem;
}
.fee-section ul li img {
  border: 3px solid rgb(123 208 248);
  border-radius: 20px;
  width: 70%;
}
.fee-section .copy-section-heading {
  margin-left: 10%;
  padding-top: 10%;
}
@media (max-width: 400px) {
  .benefit-section li {
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .fee-section {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .benefit-section > .copy-section {
    width: 100%;
    margin: auto;
  }
  .benefit-section li {
    width: auto;
  }
  .fee-section > ul,
  .benefit-section ul,
  .benefit-section li,
  .page-copy__promo-inner {
    margin: 0;
    padding: 0;
  }
}
