@import "./base.css";
@font-face {
  font-family: Nekst;
  src: url("../fonts/nekst/FontsFree-Net-Nekst-Black.ttf") format("truetype");
}
:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  overflow: auto !important;
}
p {
  text-align: justify;
}
.black-color {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.theme-color {
  background-color: #c9f73a !important;
}
.theme-text {
  color: #c9f73a !important;
}
.white-color {
  background-color: #ffffff !important;
}
.grey-color {
  background-color: #f2f2f2 !important;
}
.page-home__promo {
  position: relative;
  background: #c9f73a;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
.page-home__promo-inner {
  overflow: hidden;
  position: relative;
}
.page-home__promo-bg {
  top: 400px;
}
.radar-bg,
.page-home__promo-bg {
  width: 5000px;
  height: 5000px;
  background: conic-gradient(#c9f73a 64%, white);
  margin-top: -2500px;
  margin-left: calc(50% - 2500px);
  position: absolute;
  top: 400px;
  left: 0;
  z-index: 0;
  transform: rotateZ(5deg);
  -webkit-animation-name: bg-rotate-full;
  animation-name: bg-rotate-full;
  -webkit-animation-duration: 36s;
  animation-duration: 36s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes bg-rotate-full {
  0% {
    transform: rotateZ(125deg);
  }
  100% {
    transform: rotateZ(485deg);
  }
}

section {
  display: flex;
  justify-content: center;
}

/* For custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c9f73a;
  -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}
/* For custom scrollbar */

/* For global dropdown menus */
.dropdown-menu {
  border-radius: 0px !important;
  border: 1px solid #c9f73a !important;
}
.dropdown-item:active {
  color: #000000 !important;
  background-color: #ffffff !important;
  opacity: 0.5;
  border-bottom: 2px solid #c9f73a;
}
.dropdown-item:hover {
  background-color: #c9f73a;
  text-decoration: none !important;
}
.dropdown-item a:hover {
  color: black !important;
}

.forex-basics {
  top: 100px;
}

.theme-bg {
  height: 150px;
  background-color: #c9f73a;
}
.theme-bg h1 {
  width: 80%;
  max-width: 1500px;
  top: 25px;
  text-transform: uppercase;
  color: #000;
  margin: 0 auto 15px;
  font-weight: 600;
  line-height: 1.2;
  font-family: "Nekst", sans-serif;
  font-size: 32px;
}

.forex-material,
.profit-calculator {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  top: -50px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
  margin-top: 10px;
}

/* form inputs */
.form-control,
.form-floating{
  height: 55px;
  background: transparent !important;
  color: #c9f73a !important;
}
.form-control:focus,
.form-floating:focus,
.form-floating > .form-select:focus {
  border: 2px solid #c9f73a !important;
}
.offcanvas-body {
  margin-top: 2em;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}
.profit-calculator {
  background-color: black !important;
  color: white;
}
.form-floating > .form-select {
  background-color: black;
  color: #c9f73a;
}
.form-floating svg{
  color: white !important;
}
.form-floating svg:hover{
  color: #c9f73a !important;
}
/* form inputs */

@media (min-width: 769px) {
  .forex-material,
  .profit-calculator {
    width: 80%;
    top: -67px;
    min-height: 600px;
  }
}
